*{
  background-color: #CE7DA5;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.todo-app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 7rem;
  color: white;
  /* text-align: center; */
}

form{
  height: 10rem;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(206,125,165);
  background: linear-gradient(90deg, rgba(206,125,165,1) 0%, rgba(92,65,93,1) 45%); 
}

input[type=text]{
  height: 5rem;
  width: 20rem;
  border: none;
  background-color: rgba(0,0,0,0.3);
}