*{
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.todo-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(206,125,165);
  background: linear-gradient(135deg, rgba(206,125,165,1) 0%, rgba(92,65,93,1) 68%);
  height: 100vh;
}

h1{
  font-size: 7rem;
  color: white;
  /* text-align: center; */
}

form{
  height: 10rem;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.2);
}

label{
  font-size: 1.5rem;
  height: auto;
  width: fit-content;
  color: white;
  background-color: transparent;
}

input[type=text]{
  font-size: 1.3rem;
  height: 3rem;
  width: 20rem;
  padding: 1rem;
  border: none;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

::placeholder{
  background: #CE7DA5;
  background: linear-gradient(to right, #CE7DA5 0%, #5C415D 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}